* {
    margin: 0;
    padding: 0;
}

header,
footer {
    width: 100%;
    height: 120px;
    background-color: #99D0E7;
    color: rgb(14, 13, 13);
}

h1,
h2 {
    text-align: center;
}

img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding-left: 40px;
    font-size: 20px;
}

p {
    text-align: center;
    font-size: 30px;
  }

.card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid rgb(228, 116, 116);
    box-shadow: 5px 10px #155c0c;
  }